{% extends 'recruit/recruit_main_template.html' %}
{% load staticfiles %}

{% block title %}
    Employed_clients
{% endblock %}

{% block content %}


        <h2><u>Количество трудоустроенных слушателей</u></h2>
        <div>
            <h5>
                <p>Начальный период</p><input type="date" class="form-date" id="starting_period" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
            </h5>
            <h5>
                <p>Конечный период</p><input type="date" class="form-date" id="end_period" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
            </h5>
            {% for report in reports %}
                <div>
                    <h4>{{ report.generate_a_report }}</h4>
                </div>
            {% endfor %}
        </div>



{% endblock %}